Directory index!

<div class="directory-listing">
    <h3>Item Name</h3>
    <a class="btn btn-primary" href="#!/lessons/0">Item Page</a>
    <p>
        Some description about this thing. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed erat magna.
    </p>
    <a class="btn btn-default" href="#!/lessons/0/1">Tier 1</a>
    <a class="btn btn-default" href="#!/lessons/0/2">Tier 2</a>
    <a class="btn btn-default" href="#!/lessons/0/3">Tier 3</a>
    <a class="btn btn-default" href="#!/lessons/0/4">Tier 4</a>
    <a class="btn btn-default" href="#!/lessons/0/5">Tier 5</a>
</div>
