Directory index!
<h1>Lesson Directory</h1>
<p>
    Select lessons from here?
</p>
<div class="directory-listing">
    <div class="directory-item" ng-repeat="lesson in lessons">
        <h3>{{lesson.lessonName}}</h3>
        <p>
            {{lesson.description}}
        </p>
        <a class="btn btn-primary" href="#!/lessons/{{lessons.indexOf(lesson)}}">Item Page</a>
        <a class="btn btn-default" href="#!/lessons/{{lessons.indexOf(lesson)}}/0">Tier 1</a>
        <a class="btn btn-default" href="#!/lessons/{{lessons.indexOf(lesson)}}/1">Tier 2</a>
        <a class="btn btn-default" href="#!/lessons/{{lessons.indexOf(lesson)}}/2">Tier 3</a>
        <a class="btn btn-default" href="#!/lessons/{{lessons.indexOf(lesson)}}/3">Tier 4</a>
        <a class="btn btn-default" href="#!/lessons/{{lessons.indexOf(lesson)}}/4">Tier 5</a>
        <a class="btn btn-default" href="#">←</a>
        <div class="lesson-tags">
            Tags: {{lesson.tags.join(', ')}}
        </div>
    </div>
</div>
