Difficulty index!
<div class="top-nav">
    <a class="btn btn-default" href="#!/directory">Directory</a>&nbsp;&nbsp;<a class="btn btn-default" href="#!/lessons/0">Lesson Directory</a>
</div>
<h2>Item Name</h2>
<h3>Lesson Tier</h3>
<div class="single-lesson">

    <div class="row">
        <div class="col-md-6">
            <div class="conversation">
                <div class="chat-item">
                    <p>
                        <span class="chat-name">Person</span>&nbsp;&nbsp;<span class="chat-title">Client</span>
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed erat magna. Nulla at lacus vestibulum dolor semper auctor. Proin convallis lorem eu velit ornare tempor. Sed facilisis id augue quis tincidunt. Maecenas pulvinar felis lacus, eget aliquam dolor dapibus malesuada. Morbi diam neque, tempor ac odio vel, dictum convallis augue.
                    </p>
                </div>
                <div class="chat-item">
                    <p>
                        <span class="chat-name">Person</span>&nbsp;&nbsp;<span class="chat-title">Client</span>
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed erat magna. Nulla at lacus vestibulum dolor semper auctor. Proin convallis lorem eu velit ornare tempor. Sed facilisis id augue quis tincidunt. Maecenas pulvinar felis lacus, eget aliquam dolor dapibus malesuada. Morbi diam neque, tempor ac odio vel, dictum convallis augue.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p>
                <a class="btn btn-default" href="#">Starter Files</a><br />
                <a class="btn btn-default" href="#">Starter Files</a>
            </p>
            <h4>Results</h4>
            <img src="./img/placeholder.jpg" />
        </div>
    </div>
    <div class="row lesson-toolbar">
        <div style="float:left;">
            <a class="btn btn-info" href="#">Hint</a>&nbsp;&nbsp;<a class="btn btn-info" href="#">Toolbox</a>&nbsp;&nbsp;<a class="btn btn-info" href="#">Client Profile</a>
        </div>
        <div style="float:right;">
            <a class="btn btn-success" href="#">Done</a>
        </div>
    </div>
</div>
